# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
*.off
*.old
.DS_Store

# logs
*.log

# eclipse conf file
.settings
.classpath
.project
.manager
.externalToolBuilders
.cache

# ensime/emacs conf files
.ensime
.scala_dependencies

# building
target
null
tmp*
dist
test-output

# sbt
target
lib_managed
src_managed
project/boot
project/plugins/project

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

# IntelliJ
*.eml
*.iml
*.ipr
*.iws
.idea

# Pax Runner (for easy OSGi launching)
runner

# Grails local config files
/grails-app/conf/Config.groovy
/grails-app/conf/Config-*.groovy
!/grails-app/conf/Config-cane0*.groovy

# Grails local DataSource files
/grails-app/conf/DataSource.groovy
/grails-app/conf/DataSource-*.groovy
!/grails-app/conf/DataSource-cane0*.groovy

# Vagrant
.vagrant

